/**
 * partials/buttons and a tags
 * ---
 * Menus
 */
button{
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 150px;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	font-size: 15px;
	color: #ffffff;
}
.btn_red{
	background: #e2383f;
}
.btn_teal{
	background: #008285;
}
.inactive{
	background: #8c8c8c;
	color: #d7d7d7;
}

a.btn_teal, a.btn_red{
	@extend button;
	display: block;
	&:hover{
		text-decoration: none;
	}
}