/**
 * partials/header and navigation
 * ---
 */

.header_banner{
	position: relative;
	/* background: url("../images/header.png") no-repeat; */
	background-size: cover;
	height: 50px;
	width: 100%;
}
h1{
	color: #595959;
}

.back{
    width:25px;
    height:25px;
    background: url("../images/back.png") no-repeat;
    margin: auto 10px;
    background-size: cover;
    position:absolute;
    top:0;
    bottom: 0;
    cursor: pointer;
}