/**
 * partials/modules
 * ---
 */

 /*------------------------------------*\
  #PACE PRELOADER
\*------------------------------------*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

 /*------------------------------------*\
  #POPUPS
\*------------------------------------*/

.popup-mask{
  @include mask-site;
  display:none;
}

.popup-container{ //style this
  @include vertical-align(fixed);
  background:white;
  width:90%;
  max-width: 500px;
  height:auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  z-index:100;
  display:none;

  @include breakpoint(450px){
    width: 100%;
  }

  > .close{
    width:15px;
    height:15px;
    background: url("../images/close.png") no-repeat;
    margin: 5px;
    background-size: cover;
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
  }
}

.popup{
  display:none;
}

.popup-custom{
  text-align: center;
  h2,p{
    margin: 10px 0;
  }
}

.loading{
  img{
    width: 20%;
  }
  h1{
    font-size: 20px;
  }
  @include breakpoint(425px){
    img{
      width: 10%;
    }
    h1{
      font-size: 24px;
    }
  }
}



 /*------------------------------------*\
  #ACCORDION
\*------------------------------------*/

 /*------------------------------------*\
  #PAGINATION
\*------------------------------------*/