/**
 * partials/wrapper
 * ---
 */

.img-wrap{

}

.button-wrap{
	
}

.mainwrap{
	text-align: center;
}


.form_wrapper{
	margin: 0 auto;
	padding: 10px 0;
	bottom: 60px;
	width: 80%;
	max-width: 280px;
	border-radius: 10px;
	background: rgba(#ffffff, 0.7);
}

.terms_wrapper, .mechanics_wrapper, .faq_wrapper{
	padding: 10px 25px;
	@include breakpoint(700px){
		max-width: 700px;
		margin: 0 auto;
	}
}

.mechanics_wrapper, .faq_wrapper{
	text-align: left;
}

.reg_form_wrapper{
	padding: 25px;
}