/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$header-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$line-height-base: 1.5;
$font-size-base: 16px;

$browser-context: 16; // Default for mixin px to em converter


/**
 * Colors
 */

//brand colors
$main-brand-color: #008285;

//site colors
$text-color: #7e7e7e;
$body-bg: #fff;
$accent: #d7aa59;

//utility colors
$alert: red;


/**
 * Susy
 */

$susy: (
  columns: 12,
);


