@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/buttons";
@import "partials/footer";
@import "partials/print";
@import "partials/wysiwyg";
@import "partials/modules";
@import "partials/styleguide";


 /*------------------------------------*\
  #LANDING PAGE LAYOUT
\*------------------------------------*/

.login_form, .register_form, .entry_form, .contact_form, .card_form, .forgotpass_form, .field_wrap{
	.login_input, .register_input, .entry_input, .contact_input, .card_input, .forgotpass_input{
		display: block;
		width: 230px;
		margin: 10px auto;
		padding: 7px 10px;
		color: #7e7e7e;
		font-style: italic;
		font-size: 15px;
		border-radius: 5px;
		border-style:solid;
		border-width: 1px;
		
	}
	a:hover{
		text-decoration: none;
	}
	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
	}
	input[type=number]{
		padding: 9.5px 10px;
	}
	select.card_input, select.entry_input, select.register_input{
		border-color: #7d7d7d;
		padding: 6px 10px;
	}
	select.entry_input{
		padding: 8.5px 10px;
	}
	.login_input, .forgotpass_input{
		margin: 10px auto 15px auto;
		width: 210px;
	}
	.login_input:nth-of-type(3), .field_wrap:nth-of-type(2)>.register_input, .field_wrap:nth-of-type(3)>.register_input, {
		padding: 9px 10px;
	}
	.field_wrap:nth-of-type(6), .field_wrap:nth-of-type(3), .contact_input:nth-of-type(2), .contact_input:nth-child(4){
		margin-bottom: 30px;
	}
	/* .field_wrap:nth-of-type(10){
		margin-bottom: 20px;
	} */
	p{
		display: inline-block;
	}
	.entry_input, .card_input{
		margin: 10px auto 15px auto;
	}
	.err{
		font-size: 12px;
		font-weight: 600;
		color: #e2383f;
	}
	.contact_input{
		@include breakpoint(375px){
			width: 100%;
			max-width: 500px;
		}
	}
	button{
		margin: 15px auto;
	}
}

.reg_cardnum {
	position: relative;
	>label{
		position: absolute;
		top: 18px;
		left: 10px;
		font-weight: 600;
	}
	#first_six, #card_num{
		padding: 7px 10px 7px 32px;
	}
}

.card_form{
	.reg_cardnum{
		>label{
			top: 6px;
		}
		width: 230px;
		margin: 10px auto 15px auto;
	}
}

.login_form, .forgotpass_form{
	h6, p{
		text-transform: none;
		margin: 0;
		color: #616161;
	}
	h6{
		margin: 5px auto;
	}
	button{
		margin: 20px auto;
	}
	.help-block{
		margin: 0 auto;
		font-size: 12px;
		display: block;
		width: 80%;
	}
}

.register_form{
	max-width: 450px;
	margin: 0 auto;
	button{
		margin-top: 15px;
		@include container(100%);
	}
	span{
		font-size: 12px;
	}
	@include breakpoint(500px){
		.register_input{
			width: 100%;
		}
		.field_wrap{
			display: inline-block;
			width: 100%;
			margin: 0 auto;
			@include container(100%);
			&:nth-of-type(2), &:nth-of-type(5), &:nth-of-type(8){
				@include span(6 of 12);
			}
			&:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9){
				@include span(6 of 12 last);
			}
		}
	}
}

.input_container, .term_check{
	@include container(100%);
	input#accept_term, p{
		@include container(100%);
	}
}


.entry_form, .card_form{
	p{
		margin: 15px;
	}
	a.btn_teal{
		@extend button;
		margin: 20px auto;
	}
}

.maincontent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("../images/banner_drk.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	.copy{
		margin: 20px auto;
		color: #ffffff;
		h1{
			font-size: 27px;
			color: #ffffff;
		}
		p{
			width: 74%;
			margin: 0 auto;
		}
	}
	img{
		width: 100%;
		margin-top: 45px;
	}
}

.nav_footer{
	margin: 0 auto;
	width: 80%;
	max-width: 280px;
	a{
		display: inline-block;
		padding: 15px 0;
		width: 39%;
		font-size: 14px;
		color: #ffffff;
		text-transform: uppercase;
	}
	a:nth-child(2){
		width: 17%;
	}
}

.terms_wrapper{
	p{
		margin: 5px 0 20px 0;
	}
	button{
		display: inline-block;
		margin: 10px;
		width: 40%;
		max-width: 165px;
	}
}

.mechanics_wrapper, .faq_wrapper{
	h3{
		text-align: center;
		margin: 20px 0;
	}
	h4{
		text-align: center;
		margin: 30px 0 15px 0;
	}
	ol{
		margin-left: -15px; 
		font-size: 13px;
	}
	li ol{
		list-style-type:lower-alpha;
	}
	li ul{
		margin-left: 15px;
	}
	ul{
		list-style-type: none;
	}
	p{
		font-size: 13px;
	}
	.others_identity{
		list-style-type: disc;
		>li{
			margin-left: 15px;
		}
	}
	.draw_table{
		margin: 20px 0;
		border-collapse: collapse;
		text-align: center;
		border: 1px solid #616161;
		> tr, td, th{
			border: 1px solid #616161;
		}
		th>h4{
			margin: 15px 0;
		}
		td{
			padding: 10px 0;
		}
	}
	.red{
		color: #e2383f;
		font-weight: 600;
	}
}

.faq_wrapper{
	ul{
		margin-bottom: 25px;
	}
}

.mech_footer_details{
	font-size: 12px;
	margin: 25px auto;
}

.reg_form_wrapper{
	h3{
		margin: 0 0 15px 0; 
	}
}

.entry_form, .card_form{
	padding: 20px;
}


.profile_head{
	margin: 20px 0;
}

.view_nav{
	background: #e0e1e2;
	border: 1px solid #e0e1e2;
	@include breakpoint(442px){
		max-width: 500px;
		margin: 0 auto;
	}
	.view_controller{
		display: inline-block;
		width: 49%;
		padding: 15px;
		cursor: pointer;
		@include breakpoint(442px){
			width: 49.5%;
		}
		&.active{
			background: #ffffff;
		}
	}
}

.view_content{
	@include breakpoint(442px){
		max-width: 500px;
		margin: 0 auto;
	}
	.view_sel{
		display: none;
		/* height: 340px; */
		&.active{
			display: block;
		}
	}
}


.g-recaptcha{
	transform:scale(0.77); 
	-webkit-transform:scale(0.89);//default 0.77 
	transform-origin:0 0; 
	-webkit-transform-origin:0 0;
	@include breakpoint(375px){
		transform:scale(1); 
		-webkit-transform:scale(1); 
		transform-origin:0 0; 
		-webkit-transform-origin:0 0;
		> div{
			margin: 30px auto; 
		}
	}	
}


.main_404{
	h1{
		font-size: 10em;
		line-height: 1.3;
		margin: 0 auto;
	}
	p{
		margin: 0 auto 20px auto;
		font-size: 20px; 
	}

}
